body {
    background-color: #fff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3E8E41;
  }
  